access_key: " AKIAIUQ7IULFFCSJN33A"
secret_key: "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"

awskeypair_name: "eugene-key-rsa"
image: "ami-0b383171"
region: "us-east-1"
vpc_subnet_id: "subnet-12e4c02e"
